@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ropa+Sans&display=swap");
@import "../../assets/variables.scss";

.nav-container {
	transition: width 1s ease;
	background-color: #333;
	color: $primary-color;
	height: 100vh;
	width: 270px;
	display: flex;
	flex-direction: column;

	&.collapsed {
		width: 64px;
	}

	@media screen and (max-width: $min-width) {
		display: none;
	}
}

.nav-container__title {
	color: inherit;
	padding: 1.5rem;
	font-family: "Ropa Sans", sans-serif;
	border-bottom: $primary-color-border solid 1px;
	display: flex;
}

.nav-container__subtitle {
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-bottom: 1rem;
}

.nav-container__appname {
	&.hidden {
		display: none;
	}
}

.nav-container__options {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	list-style-type: none;
	padding-top: 1.5rem;
}
