@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ropa+Sans&display=swap");
@import "../../assets/variables.scss";

.nav-container {
	font-family: "Ropa Sans", sans-serif;
	transition: width $time-transition ease;
	background-color: $aside-color;
	color: $primary-color;
	height: 100vh;
	width: 270px;
	display: flex;
	flex-direction: column;

	&.collapsed {
		width: 64px;
	}

	@media screen and (max-width: $min-width) {
		display: none;
	}
}

.nav-container__title {
	color: inherit;
	padding: 1.5rem;
	font-family: "Ropa Sans", sans-serif;
	border-bottom: $primary-color-border solid 1px;

	.nav-container__appname {
		padding-left: 0.7rem;
		transition: all $time-transition-quick ease-in;

		&.collapsed {
			color: $aside-color;
		}
	}
}

.nav-container__subtitle {
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.nav-container__options {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-top: 1rem;
}

.nav-container__options__item {
	cursor: pointer;
	padding: 1rem 1.5rem;
	font-size: inherit;
	transition: background $time-transition-quick ease;
	&:hover {
		background-color: $aside-color-hover;
	}
}

.nav-container__options__item__title {
	margin-left: 1rem;
}

.nav-container__collapse {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top: $primary-color-border solid 1px;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&:hover {
		background: #555;
	}
}
