@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ropa+Sans&display=swap");
@import "../../assets/variables.scss";

.nav-container {
	font-family: "Ropa Sans", sans-serif;
	transition: width $time-transition ease;
	background-color: $aside-color;
	color: $primary-color;
	height: 100vh;
	width: $menu-expanded-width;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;

	&.collapsed {
		width: $menu-collapsed-width;
	}

	@media screen and (max-width: $min-width-desktop) {
		display: none;
	}
}

.nav-container__title {
	display: flex;
	justify-items: center;
	color: inherit;
	padding: 1.5rem;
	border-bottom: $primary-color-border solid 1px;
}

.nav-container__title__appname {
	margin-left: 1rem;

	&.collapsed {
		display: none;
	}
}

.nav-container__subtitle {
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.nav-container__subtitle__options {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-top: 1rem;
}

.nav-container__subtitle__options__item {
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	padding: 1rem 1.5rem;
	font-size: inherit;
	transition: all $time-transition ease;

	&:hover {
		background-color: $aside-color-hover;
	}
}

.nav-container__subtitle__options__item__label {
	margin-left: 1rem;

	&.collapsed {
		display: none;
	}
}

.nav-container__subtitle__collapse {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top: $primary-color-border solid 1px;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&:hover {
		background: $aside-color-hover;
	}
}

.nav-container__subtitle__collapse__icon {
	transition: all $time-transition ease;

	&.collapsed {
		transform: rotate(180deg);
	}
}
