$min-width-desktop: 850px;

$time-transition: 0.7s;
$time-transition-quick: calc($time-transition / 2);

$aside-color: #333;
$aside-color-hover: #444;

$primary-color: #009586;
$primary-color-border: #00584f;
